# ==========================
# Environment variables
# ==========================
.env

# ==========================
# Virtual environment
# ==========================
venv/

# ==========================
# Python cache
# ==========================
__pycache__/
*.py[cod]

# ==========================
# VS Code settings (optional)
# ==========================
.vscode/

# ==========================
# Operating system files
# ==========================
.DS_Store
Thumbs.db